{% extends 'pic_feed/base.html' %}

{% block header %}
    <h1>This is the feed</h1>
{% endblock header %}

{% block content %}
<head>
    <!-- <link rel="stylesheet" href="feed.css"> -->
    <!-- I NEED TO PUT THIS INTO AN EXTERNAL CSS FILE -->
    <style>
      .pic_feed {
        display: flex;
        flex-direction: column;
        align-items: center;
      }   
      img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;

        max-width: 60%;
        height: auto;
      }
    </style>
</head>
<body>
  <h2><a href="{% url 'create_post' %}">Create Post</a></h2>
  <div class="pic_feed">
    {% for post in posts %}
      <a href="{% url 'profile' post.owner.username %}">{{ post.owner.username }}</a>
      <img src="{{ post.pic.url }}">
      <p>{{ post.description }}</p>
    {% endfor %}
  </div>
</body>
{% endblock content %}